SUPABASE_URL=https://hkesgghgyrovdseuanef.supabase.co/rest/v1/
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhrZXNnZ2hneXJvdmRzZXVhbmVmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc2MTU4NTksImV4cCI6MjA5MzE5MTg1OX0.X7Yo11VW0qY_9Kakm9F0RycY4L5pd688DLC2-LLoFq8
